<%- include ('partial/header')%>

<div class="home-v1-slider" > 
    <!-- ========================================== SECTION – HERO : END========================================= -->
    
    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
      <div class="item" style="background-image: url(images/bnr-1.jpg);"> 
        <!-- /.container --> 
      </div>
      <!-- /.item -->
      
      <div class="item" style="background-image: url(images/bnr-2.jpg);"> 
        <!-- /.container --> 
      </div>
      <!-- /.item -->
      
      <div class="item" style="background-image: url(images/bnr-3.jpg);"> 
        <!-- /.container --> 
      </div>
      <!-- /.item --> 
      
      <!-- /.item --> 
      
    </div>
    <!-- /.owl-carousel --> 
    
    <!-- ========================================= SECTION – HERO : END ========================================= --> 
    
  </div>
  <!-- /.home-v1-slider -->

  

 

  






















  <section class="padd-40 fadeIn animated" data-animation="fadeIn">
    <div class="container">
      <header>
        <h2 class="h1">Today Deails</h2>
        <a class="avs_hdr_sid_btn" href="#">View All</a> </header>
      <div class="mbl_row nv_btn owl-carousel">
        <%  for (i=0; i< home_Sldr.length; i++){ %>

        <div class="item">
          <div class="avs_vt_prdt_set "> 
            <img class="avs_vt_prdt_img" src="<%= home_Sldr[i].imageUrls[2].url %>">
            <div class="avs_vt_prdt_rht">
              <div class="avs_vt_prdt_rht_h1"><%= home_Sldr[i].name %></div>
              <div class="avs_vt_prdt_rht_h3"><%= home_Sldr[i].description %></div>
              <div class="avs_vt_prdt_rht_btm">
                <div class="avs_vt_prdt_rht_prc" style="font-size: 13px;"><%= home_Sldr[i].title %></div>
                <a class="avs_vt_prdt_rht_btn" href="<%= home_Sldr[i].url %>">
                <div class="hid">Buy Now</div>
                <i class="ec ec-add-to-cart"></i></a> </div>
            </div>
          </div>
        </div>
        <%  } %>
        


      </div>
    <hr>
  
    </div>
  </section>
  <div class="padd-40" style="padding: 0px">
    <div class="container">
      <div class="row">
        <div class="col-md-4"> <img src="images/btwn_img (3).jpg" class="img-fluid avs_btwn_img"> </div>
        <div class="col-md-4"> <img src="images/btwn_img (1).jpg" class="img-fluid avs_btwn_img"> </div>
        <div class="col-md-4"> <img src="images/btwn_img (2).jpg" class="img-fluid avs_btwn_img"> </div>
      </div>
    </div>
  </div>
  <section class="padd-40 fadeIn animated" data-animation="fadeIn">
    <div class="container">
      <header>
        <h2 class="h1">Health Care Essentials</h2>
        <a class="avs_hdr_sid_btn" href="#">View All</a> </header>
      <div class="mbl_row nv_btn owl-carousel">
      
        <%  mbl_Sldr.forEach(function(mblsdr){ %>

          <div class="item">
            <div class="avs_vt_prdt_set "> 
              <img class="avs_vt_prdt_img" src="<%= mblsdr.productBaseInfoV1.imageUrls['200x200'] %>">
              <div class="avs_vt_prdt_rht">
                <div class="avs_vt_prdt_rht_h1"><%= mblsdr.productBaseInfoV1.title %></div>
                <div class="avs_vt_prdt_rht_h3"><%= mblsdr.productBaseInfoV1.productBrand %></div>
                <div class="avs_vt_prdt_rht_btm">
                  <div class="avs_vt_prdt_rht_prc" style="font-size: 15px;">Rs. <%= mblsdr.productBaseInfoV1.flipkartSpecialPrice.amount %></div>
                  <a class="avs_vt_prdt_rht_btn" href="<%= mblsdr.productBaseInfoV1.productUrl %>">
                  <div class="hid">Buy Now</div>
                  <i class="ec ec-add-to-cart"></i></a> </div>
              </div>
            </div>
          </div>
          <%  }) %>




      </div>
    </div>
  </section>
  <section class="padd-40 fadeIn animated" data-animation="fadeIn" style="background-color: #f9f9f9">
    <div class="container">
      <header>
        <h2 class="h1">Best Sellers</h2>
        <a class="avs_hdr_sid_btn" href="#">View All</a> </header>
      <div id="home-v1-product-cards-careousel">


        <%  today_offer.forEach(function(tod_sdr){ %>
          <a href="<%= tod_sdr.url %>">
        <div class="avs_hs_prdt_fst_set">
          <div class="avs_hs_prdt_set "> <img class="avs_hs_prdt_img" src="<%= tod_sdr.imageUrls[2].url %>">
            <div class="avs_hs_prdt_rht">
              <div class="avs_hs_prdt_rht_h2"><%= tod_sdr.title %></div>
              <div class="avs_hs_prdt_rht_h1"><%= tod_sdr.name %></div>
              <div class="avs_hs_prdt_rht_h3"><%= tod_sdr.description %></div>
              <div class="avs_hs_prdt_rht_btm">
             
                <a href="<%= tod_sdr.url %>" class="avs_hs_prdt_rht_btn">Buy Now <i class="ec ec-add-to-cart"></i></a>
               </div>
            </div>
          </div>
          </div>
        </a>
<% }) %>




        </div>
      </div>
      <!-- #home-v1-product-cards-careousel --> 
    </div>
  </section>


  <%- include ('partial/footer') %>
