<%- include ('partial/header')%>


<div class="mdl_sec" >
<div class="container">
<div class="mdl_sec_cnt" style="position: relative;">
<div class="row prdt_set_row  de4_mb2_out" style="margin-Bottom:100px">
    <% var kdata = 1222 %>
  
	<% if(pr_data.products === "" ){ %>
<h3>No Data Found</h3>

	<% }  else { %>
	
	<%		var orgdata = JSON.stringify(pr_data.products); var p_f, p_t; var spdata = pr_data.products;  %>

   


<p class="page_datas" style="display: none;"><%= orgdata  %></p>
<div class="inrpg"></div>
<div class="nxtpg btn btn-lg pg_e_btn" >View More</div>


          <%		} %>
        

        
          
</div>
<%		if(pr_data.nextUrl === null){ %>
    <h3 class="msgg">No Products Found</h3><br><br>
    <a class="btn btn-lg pg_e_btn" href="/">Go Home</a>
    
        <%		} 	else if(pr_data.products.length > 449){%>
  <% var resilink = pr_data.nextUrl.split("https://affiliate-api.flipkart.net")[1].replace(/\?/g, "%3F")   %>
<a class="btn btn-lg pg_e_btn mr_btn ld" href="<%= resilink   %>">Next Page</a>
<p style="display: none;"><%= pr_data.nextUrl %></p>


<%		} else{%>
    <a class="btn btn-lg pg_e_btn ld" href="/">Go Home</a>
<%		} %>
</div>
</div>
</div>


<%- include ('partial/footer') %>
